section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  padding: 12px;
}
.heading-text {
  font-size: 50px;
  font-weight: 700;
  color: green;
}
.custom-text {
  font-size: 50px;
  font-weight: 700;
  color: skyblue;
}
.pt-6 {
  padding-top: 24px;
}

/* Text Shadow Animation */
.text-shadow {
  text-shadow: 5px 5px 0 red, 10px 10px 0 blue;
  animation: text-shadow-dance 2s infinite;
}

@keyframes text-shadow-dance {
  0%,
  100% {
    text-shadow: 5px 5px 0 #ff005e, 10px 10px 0 blue;
  }
  50% {
    text-shadow: -5px -5px 0 blue, -10px -10px 0 #ff005e;
  }
}

/* Masked Text Animation */
.masked-text {
  color: transparent;
  background-image: url("../images/mustang.jpg");
  background-size: 200%; /* Enlarged for smooth animation */
  background-position: 0 50%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-background 5s infinite alternate linear;
}

@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Tracking Text Animation */

.tracking-text {
  animation: tracking-out-contract 7s cubic-bezier(0.55, 0.055, 0.675, 0.19)
    300ms infinite reverse both;
}
@-webkit-keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}

/* Fall Text Animation  */

.fall-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  transform-style: preserve-3d;
  perspective: 100px;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 100px;
}
.fall-text span {
  transform-origin: bottom;
  transform: rotateX(-85deg);
  -webkit-transform-origin: bottom;
  -webkit-transform: rotateX(-85deg);
  animation: getUp 7s infinite;
}

@keyframes getUp {
  10%,
  50% {
    transform: rotateX(0);
  }
  0%,
  60%,
  100% {
    transform: rotateX(-85deg);
  }
}

/* Glow Text Animation */

.glow-text span {
  text-transform: uppercase;
  animation: glow 3s ease-in-out infinite;
}

@keyframes glow {
  0%,
  100% {
    color: white;
    text-shadow: 0 0 10px #0652dd, 0 0 50px #0652dd, 0 0 100px #0652dd;
  }

  10%,
  90% {
    color: black;
    text-shadow: none;
  }
}

/* === Responsive === */

@media (max-width: 767.98px) {
  .custom-text,
  .heading-text {
    font-size: 20px;
  }
  .new-heading {
    font-size: 30px !important;
  }
}
